:root {
  /* --pseudo-emoji: '🙄'; */
  --pseudo-emoji-1: url('../img/Blitz.gif');
  --pseudo-emoji-2: url('../img/KatzeimLoch.gif');
}

@font-face {
  font-family: 'ITC-book';
  src: url('../fonts/ITC-ITCAvantGardePro-Bk.otf') format('opentype'); /*Add '../fonts' for upload*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC-bold';
  src: url('../fonts/ITC-ITCAvantGardePro-Bold.otf') format('opentype');  /*Add '../fonts' for upload */
  font-weight: normal;
  font-style: normal;
}

body {
  /* text-align: center; */
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
  font-family: 'ITC-bold';
  /* background: linear-gradient(45deg,#FCE847, #4EFFA7, #F796E1 , #27DBB1,#FF8810, #18DD7B); */
  background: radial-gradient(#FCE847, #b8a834);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

*{
  box-sizing: border-box;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.close a {
  text-decoration: none;
}

@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.container {
  width: 100%;
  height: auto;
  display: block;
}

#quote-box {
  position: absolute;
  top: 20%;
  left: 10%;
  right: 10%;
  width: 80%;
  line-height: .5;
}

.quote {
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  margin: 0;
  hyphens: auto;
  } 
.quote:before, .quote:after {
  font-size: 4rem;
  line-height: 2.5rem;
  position: absolute;
}
.quote:before {
  content: var(--pseudo-emoji-1);
  transform: scale(.4);
  top: -1em;
  left: -2.2em;
  width: 50px;
  height: 50px;
}

/* .quote:after {
  content: var(--pseudo-emoji-1);
  transform: scale(.4);
  margin-left: -50px;
  width: 50px;
  height: 50px;
} */

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}
/* .source:before {
  content: "—";
} */
.citation {
  font-style: italic;
}
/* .citation:before {
  content: ", ";
  font-style: normal;
}
.year:before {
  content: ", ";
  font-style: normal;
} */

#loadQuote {
  /* font-family:'ITC-book';
  text-transform: uppercase;
  font-size: 1.2rem;
  position: fixed;
  width: 10em;
  height: 10em;
  display: inline-block;
  left: 50%;
  margin-left: -5em;
  bottom: 120px;
  border-radius: 50%;
  border: 3px solid #fff;
  color: white;
  background-color: black;
  box-shadow: initial;
  padding: 15px 0;
  transition: .5s ; */

  position: fixed;
  color: white;
  font-size: 1.2rem;
  width: 120px;
	height: 120px;
	margin-left: -60px;
	margin-top: -60px;
	left: 50%;
	bottom: 12%;
	position: absolute;
	background: #e55050;
	border-radius: 100px;
	box-shadow: inset -2px 2px 2px 0px #ef9393, inset 2px -2px 2px 0px rgba(113,17,17,0.3), inset 0px 0px 40px 15px #de2424, 1px 1px 0 0 #d32020, 2px 2px 0 0 #c61e1e, 3px 3px 0 0 #b81c1c, 4px 4px 0 0 #ab1a1a, 5px 5px 0 0 #9e1818, 6px 6px 0 0 #901616, 7px 7px 0 0 #881414, 8px 8px 0 0 #831414, 9px 9px 0 0 #7f1313, 10px 10px 0 0 #7a1212, 11px 11px 0 0 #761212, 12px 12px 0 0 #711111, 13px 13px 0 0 #711111, 14px 14px 0 0 #711111, 15px 15px 0 0 #711111, 16px 16px 0 0 #711111, 17px 17px 0 0 #711111, 18px 18px 0 0 #711111, 19px 19px 0 0 #711111, 20px 20px 0 0 #711111, 19px 21px 1px 1px rgba(113,17,17,0.1), 18px 22px 1px 1px rgba(113,17,17,0.1), 17px 23px 1px 1px rgba(113,17,17,0.1), 16px 24px 1px 1px rgba(113,17,17,0.1), 15px 25px 1px 1px rgba(113,17,17,0.1), 14px 26px 2px 1px rgba(113,17,17,0.1), 13px 27px 3px 1px rgba(113,17,17,0.1), 12px 28px 4px 1px rgba(113,17,17,0.1), 11px 29px 5px 1px rgba(113,17,17,0.1), 10px 30px 6px 1px rgba(113,17,17,0.1), 9px 31px 7px 1px rgba(113,17,17,0.1), 20px 20px 4px 1px #711111;
	transition: all 0.4s ease-out;
	cursor: pointer;
  border: none;
}
 #loadQuote:active {
	 transition: all 0.15s ease-out;
	 margin-left: -50px;
	 margin-top: -50px;
	 background: #e86666;
	 box-shadow: inset -2px 2px 2px 0px #ef9393, inset 2px -2px 2px 0px rgba(113,17,17,0.3), inset 0px 0px 40px 15px #de2424, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 0 0 #711111, 1px 1px 2px 1px rgba(113,17,17,0.5), 0px 0px 4px 1px #711111;
}

.buttons {
  flex-direction: row;
  padding: 30px;
  width: 100%;
  align-items: space-between;
}

.btn__wrapper {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  justify-content: center;
  margin-bottom: 20px;
  overflow:auto;
}

.btn__wrapper label { 
  float:left;
  width: 10em;
  height: 3.5em;
}

.btn__wrapper label:last-child { 
  margin-left: 10px;
}

.btn__wrapper label span { 
  text-align:center;
  font-size: 0.8em;
  padding:10px 10px;
  display:block;
  border-radius: 25px;
  border: 3px solid black;
  padding-top: 16px;
}

.btn__wrapper label input {
  position:absolute;
  display: none;
  top:-20px;
}

.btn__wrapper input:checked + span {
  background-color:black;
  color:#fff;
}

.btn input {
  position: absolute;
  display: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.filter__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  /* text-transform: uppercase; */
}

.filter__wrapper label { 
  float:left;
  height: 3em;
  margin-left: 10px;
}

.filter__wrapper label:first-child { 
  margin-left: initial;
}

.filter__wrapper label span { 
  font-family: 'ITC-book';
  font-size: 0.8em;
  text-align:center;
  padding:12px 0px;
  display:block;
  border-radius: 25px;
  padding: 5px 10px;
  border: 3px solid black;
  padding-top: 10px;
}

.filter__wrapper label input {
  position:absolute;
  display: none;
  top:-20px;
}

.filter__wrapper input:checked + span {
  background-color:black;
  color:#fff;
}

.filter span {
  font-family: 'ITC-bold';
}

.gif__1 {
  position: absolute;
  bottom: 2%;
  right: 5%;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.gif__2 {
  position: absolute;
  bottom: 10%;
  left: 2%;
  width: 120px;
  height: 120px;
  z-index: -1;
}

.gif__3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-35px, 0);
  width: 70px;
  height: 70px;
  z-index: -1;
}

@media (min-width: 764px) {
  .quote {
    font-size: 3.5rem;
  }
  .quote:before, .quote:after {
    font-size: 4rem;
  }
  .source {
    font-size: 2rem;
  }
  #loadQuote {
    font-size: 1.2rem;
    width: 150px;
    height: 150px;
    margin-left: -75px;
	  margin-top: -75px;
    border-radius: 50%;
  }
  #loadQuote:active {
    margin-left: -50px;
    margin-top: -50px;
 }
  h4 {
    font-size: 1.2rem;
  }
  .btn__wrapper label span {
    font-size: 1rem;
  }

  .btn__wrapper label { 
    margin-top: 20px;
    float:left;
    width: 10em;
    height: 4em;
  }
  .filter__wrapper label span {
    font-size: 1rem;
  }

  .filter__wrapper label { 
    float:left;
    height: 4em;
  }
}

/* test */

.info {
	position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  writing-mode: vertical-lr;
  opacity: .5;
}
.info:hover {
  opacity: 1;
}


.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
	transition: opacity 200ms;
  visibility: hidden;
	opacity: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
}
.overlay .light {
    background: rgba(255,255,255,0.5);
}
.cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
	margin: 75px 30px;
	padding: 20px;
	background: #fff;
	border: 2px solid rgb(0, 0, 0);
	max-width: 500px;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;
  border-radius: 10px;
  background-color: #fb98ff;
  height: auto;
  align-self: center;
}

.popup p {
  font-family: 'ITC-book';
  line-height: 1.5;
}

  .light {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }

  .content {
    overflow: auto;
  }

  h3 {
    color: white;
    margin-top: 5px;
    line-height: 40px;
    display: inline;
  }

  mark {
    background: linear-gradient(-100deg, hsla(48,92%,75%,.3), hsla(48,92%,75%,.7) 95%, hsla(48,92%,75%,.1));
    border-radius: 1em 0;
    padding: .5rem;
  }
